.clearfix:before,
.clearfix:after {
	content: " ";
	display: table;
}
.clearfix:after { clear: both }
.clearfix { *zoom: 1  }
.mts_image_upload_field { display: inline-block }
.mts_image_upload_img {
    margin:0 0 10px;
    padding:0;
    max-width:100%;
    width:300px;
    height:auto;
    float:left;
    display:inline-block; 
}
.mts-clear-image { margin: 0 10px }